@use "./variables" as v;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(77, 77, 77, 0.7);
  background-color: v.$background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 70px;
  border: 1px solid transparent;
  align-self: center;
  color: v.$primary-color-pink;
  //   padding: 0.6em 1.2em;
  height: 40px;
  width: 110px;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "kalam";
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.527);
  background-color: v.$primary-color-blue;
  cursor: pointer;
  //   box-shadow: 2px 2px 0px rgb(133, 133, 133);
}
