.imageContainer {
  display: flex;
  flex-wrap: wrap;
  h2 {
    width: 100%;
  }
}

.imageCard {
  background-color: aliceblue;
  width: fit-content;
  height: fit-content;
}

.searchImage {
  max-width: 300px;
  max-height: 300px;
  &:hover {
    box-shadow: 0px 0px 20px white;
    cursor: pointer;
  }
}
